.App {
  height: 100%;
  font-size: calc(10px + 2vmin);
  color: var(--primary-text);
  background: var(--primary-color);

  transition: all 0.3s ease-in-out;
}


html {
  scroll-snap-type: y;
}

.contentDivider {
  scroll-snap-align: start;
}



/* Create custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #19181d; 
}

::-webkit-scrollbar-thumb {
  background: #1f1e22; 
}

::-webkit-scrollbar-thumb:hover {
  background: #2a292e; 
}



/*   Text styling   */

.bold {
  font-weight: bold;
}



/*   Navbar   */

.navbar {
  font-size: calc(3px + 2vmin);
  background: var(--secondary-color);
  
  padding: 8px;
  padding-left: 50px;
  padding-right: 50px;

  display: flex;
  z-index: 9999;
}

.navbar .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.navbar .links a {
  margin-left: 30px;
  color: var(--secondary-text);
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: small;
}

.navbar .links .selected {
  color: var(--primary-text);
  font-weight: bold;
}


@media only screen and (max-width: 970px) {
  .navbar .brand {
    display: none;
  }

  .navbar {
    display: block;
    padding: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
  }

  .navbar .links a {
    margin-left: none;
  }
}



/*   Recommendation element   */

.recommend {
  
  font-size: calc(3px + 2vmin);
  background: var(--secondary-color);
  display: flex;

  padding: 8px;
  padding-left: 50px;
  padding-right: 50px;

  height: 30vh;
  overflow-wrap: break-word;
  border-top: 2px solid var(--secondary-color);
  border-radius: 0px 0px 35px 35px;
}

.recommend .text {
  font-family: Compiler;
  font-weight: bold;
  font-size: 3vh;
  display: flex;
  padding-left: 10vw;
  flex-direction: column;
  justify-content: center;
}

.recommend .text .paragraph {
  color: var(--secondary-text);
  font-size: 70%;
  font-weight: lighter;
  margin-top: -3vh;
}

.recommend .text .dot {
  color: var(--theme-color);
}

.recommend .vehicle img {
  padding: 0 !important; margin: 0 !important;
  display: block;
  width: 60%;
  height: auto;
}

.recommend .vehicle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 970px) {
  .recommend {
    padding: 0px;
    padding-right: 15px;
  }
  .recommend .vehicle {
    display: none;
  }
}



/*   Search   */

.search {
  
  display: flex;
  margin: 15vh;
  margin-top: 10vh;
  min-height: 15vh;
  margin-bottom: 10vh;
}

.search .keyword {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10vh;
  width: 70%;
}

.search .keyword input {
  background: var(--secondary-color);
  border: none;
  outline: none;
  border-radius: 15px 0px 0px 15px;
  color: var(--primary-text);
  padding: 15px;
  font-size: medium;
  width: 100%;
  height: 20px;
  align-self: center;
}

.search .keyword button {
  background-color: var(--theme-color);
  border: none;
  outline: none;
  border-radius: 0px 15px 15px 0px;
  color: var(--primary-color);
  font-family: Compiler;
  font-weight: bold;
  font-size: x-large;
  width: 50px;
  height: 50px;
}

.search .sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}


.search .sorting .dropdown {
  background: var(--secondary-color);
  color: var(--primary-text);
  font-family: Compiler;
  font-weight: bold;

  border: none;
  outline: none;
  border-radius: 15px 0px 0px 15px;
  font-size: medium;
  padding: 15px;
  width: 100%;
  height: 20px;
}

.search .sorting button {
  background-color: var(--secondary-color);
  color: var(--primary-text);
  font-family: Compiler;
  font-weight: bold;
  font-size: large;
  border: none;
  outline: none;
  border-radius: 0px 15px 15px 0px;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 970px) {
  .search {
    display: flex;
    flex-flow: row wrap;
    margin: 0vh;
    margin-top: 5vh;
    margin-left: 2vh;
    margin-right: 2vh;
    padding-top: 5vh;
  }  

  .search:after {
    content: "";
    flex: auto;
  }

  .search .keyword {
    width: 100%;
    margin-right: 0vh;
  }

  .search .sorting {
    width: 100%;
    margin-left: 0vh;
  }
}




/*   Vehicles   */

.vehicles {
  overflow:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5vh;
  padding-top: 10vh;
  margin: 15vh;
  margin-top: 0vh; 
  min-height: 100vh;
  max-width: 100%;
}

.vehicles .vehicle {
  min-width: 35vh; 
  width: 55vh; 
  height: 30vh;
  display: inline-block;
  background: var(--secondary-color);
  border-radius: 15px;
  margin-bottom: 15vh;
}

.vehicles .vehicle img {
  padding: 0 !important; margin: 0 !important;
  display: block;
  position: absolute;
  width: 65vh;
  height: auto;
  transform: translate(-3%, -45%);
  filter: drop-shadow(5px 5px 10px var(--primary-color)); 
}

.vehicles .vehicle .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin-top: 9vh;
  color: var(--primary-text);
  font-family: Compiler;
  font-weight: bold;
  font-size: large;
}

.vehicles .vehicle .description a {
  color: var(--secondary-text);
  font-weight: lighter;
}

.vehicles .vehicle .description p {
  margin-top: -3vh;
  color: var(--theme-color);
}

.vehicles .vehicle .description .addons {
  font-family: Compiler;
  color: var(--secondary-text);
  font-weight: lighter;
  font-size: small;
}

@media (max-width: 800px) {
  .vehicles {
    padding-top: 10vh;
    margin: 2vh;
  }

  .vehicles .vehicle {
    width: 45vh;
  }

  .vehicles .vehicle img {
    min-width: 35vh;
    width: 40vh;
  }
}

@media (max-width: 1260px) {
  .vehicles {
    justify-content: center;
  }
}